@using System.Globalization
@using xpos341.viewmodels

@model VMTblProduct
@{
	ViewData["Title"] = "Detail Product";
}

<div class="card">
	<div class="card-body">

		<div class="h4 mb-4">@ViewData["Title"]</div>

		<div class="mb-3 row">
			<label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
			<div class="col-sm-8">
				<input type="text" class="form-control rounded-pill" id="NameProduct" name="NameProduct" value="@Model.NameProduct" readonly>
			</div>
		</div>
		<div class="mb-3 row">
		<label for="NameCategory" class="col-sm-4 col-form-label rounded-pill">Name Category</label>
			<div class="col-sm-8">
				<input type="text" class="form-control rounded-pill" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
			</div>
		</div>
		<div class="mb-3 row">
		<label for="NameVariant" class="col-sm-4 col-form-label rounded-pill">Name Variant</label>
			<div class="col-sm-8">
				<input type="text" class="form-control rounded-pill" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
			</div>
		</div>
		<div class="mb-3 row">
			<label for="Price" class="col-sm-4 col-form-label">Price</label>
			<div class="col-sm-8">
				<input type="text" class="form-control rounded-pill" id="Price" name="Price" value="@Model.Price.ToString("C", new CultureInfo("id-ID"))" readonly>
			</div>
		</div>
		<div class="mb-3 row">
			<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
			<div class="col-sm-8">
				<input type="number" class="form-control rounded-pill" id="Stock" name="Stock" value="@Model.Stock" readonly>
			</div>
		</div>
		<div class="mb-3 row">
			<label for="Stock" class="col-sm-4 col-form-label">Image</label>
			<div class="col-sm-8">
				@if (@Model.Image != null)
				{
					<input type="text" class="form-control rounded-pill mb-2" id="Image" name="Image" value="@Model.Image!.Split('_', 2)[1]" readonly>
					<img src="~/images/@Model.Image" class="rounded-circle" height="120" width="120" alt="@Model.Image Text" />
				}
			</div>
		</div>


		<div class="mb-4 row">
			<div class="col-sm-10">
				<a class="btn btn-light rounded-pill" asp-controller="Product" asp-action="Index">Back to List</a>
			</div>
		</div>

	</div>
</div>


